h1 {
    color : whitesmoke;
}

.textbox {
    color : whitesmoke;
}


.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
}

body {
    background-color : lightsteelblue;
}